h1 {color: white; text-align: center; font-size: 150px;}
body {background-color: rgb(80,80,80);}
#keyboard {
	border: 5px solid black;
	vertical-align: bottom;
	display: inline-block;
}
.border {
	box-shadow: 10px 10px 10px;
	border-radius: 25px;
	border: 10px;
	background-color: rgb(144,144,144);
}
.border2 {
	box-shadow: 10px 10px 10px;
	border-radius: 10px;
	border: 10px;
	background-color: rgb(144,144,144);
}
.topdiv {
	margin-top: 10px;
	left: 230px;
	height: 140px;
	width: 1430px;
	position:  absolute;

}
#dayof42 {
	height: 80%;
	margin: auto;
	position: absolute;
	padding-top: 13px;
	padding-left: 20px;
}
.secondrow {
	position: absolute;
	left: 270px;
	top: 175px;
}
.icondiv {
	background-color: rgb(144,144,144);
	height: 435px;
	width: 140px;
	float: left;
	padding-top: 10px;
	padding-bottom: 30px;
}
.middlediv {
	position: absolute;
	left: 170px;
	height: 580px;
	width: 1020px;
}
.lefticon {
	height: 70px;
	margin: auto;
}
.righticon {
	height: 70px;
}
.righticondiv {
	background-color: rgb(144,144,144);
	height: 435px;
	width: 140px;
	position: absolute;
	left: 1217px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#mag {
	position: absolute;
	left: 1140px;
	padding-top: 13px;
}
#refresh {
	position: absolute;
	left: 1395px;
	top: 10px;
	height: 20px;
}
#close {
	position: absolute;
	left: 1395px;
	top: 110px;
	height: 20px;
}
img {
	display: block;
	margin: 0 auto;
}
#cluster {
	padding: 10px;
	height: 96%;
}
.red {
	border-style: solid;
	border-radius: 5px;
	border-color: red;
	border-width: 6px;
}
.bgimg {
	background-image: url("resources/brick.jpg");
	border: 10px solid rgb(144,144,144);
}
.book {
	height: 100px;
	padding-top: 13px;
}
.towel {
	height: 50px;
}
.greenbox {
	position: absolute;
	top: 680px;
	left: 190px;
	background-color: rgb(166,251,150);
	height: 160px;
	width: 510px;
	padding: 10px;
	font-size: 16px;
}
.laspar {
	font-size: 15px;
	font-family: verdana;
}
#entrez {
	font-size: 30px;
	font-family: verdana;
}
#texter {
	border: 3px inset;
}
#spanner {
	width: 5px;
	color: rgb(166,251,150);
}
#futton {
	background: linear-gradient(rgb(245,245,245), rgb(225,225,225));
	border-color: lightgrey;
	border-radius: 2px;
	font-family: verdana;
}
